
table {
  padding: 0.3em;
}
table thead {
  position: sticky;
  top:0;
  left: 0;
  z-index: 1;
}

div.extractlist.control {
  position: sticky;
}

button.extractlist.control {
  margin: 0.2em;
}

#clientListContainer {
  flex: 1;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  background-color: aquamarine;
}
div.selected {
  font-weight: bold;
  text-decoration: underline;
}

button.extractlist.open {
  padding: 0;
  height: 100%;
  width: 2em;
}

td > div.extracts {
  border-style: solid;
  border-width: 2px;
  border-color: #8bdffd;
  padding-bottom: 2px;
}

#tabs > ul {
  flex: 0;
}
#tabs > div {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}